server:
  port: 8889

spring:
  application:
    name: Gateway
  cloud:
    discovery:
      enabled: false
    gateway:
      routes:
        - id: r1
          uri: http://localhost:8088
          predicates:
            - Path=/clients/**
        - id: r2
          uri: http://localhost:8088
          predicates:
            - Path=/client/**

management:
  endpoints:
    web:
      exposure:
        include: health,gateway,routes,info
  endpoint:
    gateway:
      enabled: true
    routes:
      enabled: true
